doctype html
html(lang="en")
  head
    title Polls
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    style
      include css/styles.css
  body
    main
      if passPhrase
        p#account-id
          | Hi, #{passPhrase}!
      block content
    
    script 
      include js/script.js
