doctype html
html(lang="en")
  head
    title Polls
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js")
    script(src="//code.jquery.com/jquery-3.3.1.min.js")
    style
      include css/styles.css
  body
    main
      block content
    
    script 
      include js/script.js
