extend index.pug

block content
  h2.page-header Polls
  
  //- create new poll card
  div.card
    form(action='/poll', method='POST')
      div.card-header.pad
        h3.m0 Create new poll
      div.card-content.pad
          div
            label(for='title')
              | Title
            br
            input(type='text', placeholder='Enter poll title' name='title', value='')
          
          br

          div#poll-form-options
            label
              | Options
            br
            input(type='text', placeholder='Enter poll option' name='options', value='')

      div.card-footer.pad
        input(type='submit', value='Submit')
        button(type='button', onclick='addOptionHandler()') Add Option

  //- existing polls card
  div.card.mtxl
    div.card-header.pad
      h3.m0 Poll board
    div.card-content.pad
      each poll in polls
        a(href=`poll?pollId=${poll.id}&owner=${poll.owner}`).poll-item.pad= poll.title
    div.card-footer.pad
      form(action='/polls')
        input(type='submit', value='Refresh')

  
