extend index.pug

block content
  a(href='/polls').back-nav-button
    img(width=36, src="http://img.freepik.com/free-icon/chevron-sign-left_318-42221.jpg?size=338&ext=jpg", alt="img")

  h2.page-header
    span Results

  h3.pad.m0= title

  div.container
    canvas#statsChart

  script.
    const data = !{lookup}
    const ctx = document.getElementById('statsChart').getContext('2d')
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: data.map(item => item.text),
            datasets: [
                {
                    label: "Votes",
                    backgroundColor: ["#00a8cc", "#ffa41b","#f67280","#00bdaa"],
                    data: data.map(item => item.count),
                },
            ],
        },
        options: {
          legend: {
            position: 'right',
            align: 'center'
          }
        }
    })