extend index.pug

block content
  a(href='/polls').back-nav-button
    img(width=36, src="http://img.freepik.com/free-icon/chevron-sign-left_318-42221.jpg?size=338&ext=jpg", alt="img")

  h2.page-header
    span Statistics
  
  div.card.mtxl
    div.card-header.pad
      h3.m0 Statistics
    div.card-content.pad
      div.container
        canvas#statsChart
    div.card-footer.pad
      form(action='/recount')
        input(type='submit', value='Recount')

  script.
    //- renderChart('Poll results', results.values(), results.keys())
    const ctx = document.getElementById('statsChart').getContext('2d')
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [#{labels}],
            datasets: [
                {
                    //- label: 'Poll results',
                    data: [#{data}],
                },
            ],
        },
    })